<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What We Do</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Camps</h4>
                    <p class="text-muted">We host passing camps bringing together quarterbacks and wide receivers from all around Britain. Delivered and supported by US coaches as well as some of the best quarterback and wide receiver coaches in the country. Our camps are a great opportunity to have in-depth, thorough and high-quality coaching.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-clipboard-list fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Coaching & Consultancy</h4>
                    <p class="text-muted">To ensure continued growth of your skill set and knowledge it is important to continue working on your craft. That’s why we offer many different services to help you get better in season and during the offseason. This includes:
                      <ul class="text-muted">
                        <li>Private one to one sessions </li>
                        <li>Online remote video analysis</li>
                        <li>Mechanics coaching</li>
                        <li>Bespoke personal development plan</li>
                        <li>Offensive scheme education</li>
                      </li>
                    </ul></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-football-ball fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mentoring</h4>
                    <p class="text-muted">A big part of the game isn’t just on the field, it’s also off the field. Taking the time to understand the why is just as important than the how. That’s why anyone who is involved with the BPA at any time becomes part of a wider community. Our coaches will endeavour to maintain contact to help and support athletes off the field, to grow their knowledge and education at their position. Helping you become the leaders you need to be at your position.</p>
                </div>
            </div>
        </div>
    </section>
