<!-- Clients Aside -->
    <aside class="clients" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Partners</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <a href="https://www.epsports.co.uk" target="_blank">
                        <img src="img/sponsors/ep_sports.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="https://www.gatorade.com" target="_blank">
                        <img src="img/sponsors/gatorade.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="https://cloudright.co.uk" target="_blank">
                        <img src="img/sponsors/cloudright.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
